.container{
    width:500px;
    margin: 0 auto;
}
img{
    width: 300px;
    height: 300px;
}
.price{
    font-size: 16px;
}
span{
    color:red;
    font-size: 16px;
}
button{
    margin-left: 20px;
}